Screen {
    layout: vertical;
    padding: 1 3;
    background: transparent;
}


/* ====== */
/* Layout */
/* ====== */

#top-container {
    layout: horizontal;
    height: 14;
    width: 1fr;
}

#icon {
    height: 13;
    width: 26;
}

#status-container {
    height: 13;
    width: 1fr;
}

#sessions {
    height: 1fr;
}

.action-bar {
    height: auto;
    padding-left: 1;
}

.action-item{
    width: auto;
    margin-right: 3;
    margin-bottom: 1;
}

#sess-list {
    height: auto;
}


/* ============= */
/* Command input */
/* ============= */

#cmd-input {
    dock: bottom;
    layer: overlay;
    height: 1;
    border: none;
}

#cmd-input.hidden {
    display: none;
}

.hidden {
    display: none;
}


/* ============== */
/* Section titles */
/* ============== */

#sess-section-title {
    height: auto;
    margin: 1
}


/* ============ */
/* Option lists */
/* ============ */

#sess-sear-input-trigg {
}

#sess-sear-input {
    margin-bottom: 1;
}

#new-sess-input {
    margin-bottom: 1;
}

#del-sess-input {
    margin-bottom: 1;
}

#sess-list {
}
