DashboardScreen {
    padding: 1 4;
}


/* App banner */

#app-banner {
    height: 13;
    margin-bottom: 1;
}

#app-icon {
    width: 26;
    border: solid darkcyan;
    padding: 1;
}

#app-config {
    border: solid darkcyan;
    padding-left: 3;
    margin-left: 3;
}

.box {
    height: 13;
}


/* Model section */

#model-section-title {
    height: auto;
}

#model-section-list {
    margin-left: 3;
    margin-bottom: 1;
}

#model-type-list {
    max-width: 30;
}

#selected-model-list {
    color: yellow
}

.model-list {
    height: auto;
}


/* Tokenizer section */

#tokenizer-section-title {
    height: auto;
}

#tokenizer-section-list {
    margin-left: 3;
}

#fallback-tokenizer {
    max-width: 30;
}

#selected-tokenizer {
    color: yellow;
}


/* Session section */

#sessions-section-title {
    height: auto;
    margin-bottom: 1;
    margin-left: 1;
}


/* Session action bar */

#session-action-bar {
    height: auto;
    padding-left: 1;
}


/* Session action item */

#search-session-button {
    width: auto;
}

#new-session-button {
    width: auto;
}

#delete-session-button {
    width: auto;
}

.action-item{
    margin-right: 1;
    margin-top: 1;
    margin-bottom: 1;
}


#session-list {
    height: auto;
    color: darkcyan;
}


/* Option lists */

#session-search-input {
    margin: 1 0;
}

#new-session-input {
    margin: 1 0;
}

#delete-session-input {
    margin: 1 0;
}


/* Hidden */

.hidden {
    display: none;
}
